/*.categoryBGImage{
     background-image:url('/app/img/img-category/Earth_iphone4.png');
     background-size: cover;
     background-color:#000000;
     background-repeat: no-repeat;
     min-height: 640px;
     vertical-align:top;
     margin-top: -20px;
     padding-top: 43px;
 }
h1.catagorydetail{
    font-size: medium;
    color:#ffffff;
}*/