/* general css stylesheet */
body{
    width:640px;
    heightight:960px;
    background-image:url('/app/img/img-category/WaterMelGirl_iphone4.png');
    background-size: auto;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-attachment:fixed;
    min-height: 960px;
    vertical-align:top;
    margin-top: -20px;
    padding-top: 43px;
}
.backgroundImage{
    width:640px;
    height:960px;
    background-image:url('/app/img/img-category/Earth_iphone4.png');
    background-size: auto;
    background-color:inherit;
    background-repeat: no-repeat;
    position: fixed;
    z-index:-1;
    min-height: 960px;
    vertical-align:top;
    margin-left: -20px;
    margin-top: -23px;
    visibility: visible;
}
.invisibleBox{
    width:140px;
    border:solid;
    visibility:hidden;
}
.lineBreak{
    height:1px;
    background: #000000;
    border-bottom:1px solid gray;
}
/*catagorydetail css stylesheet */
.categoryBGImage{
    width:640px;
    height:960px;
    background-image:url('/app/img/img-category/Earth_iphone4.png');
    background-size: auto;
    background-color:inherit;
    background-repeat: no-repeat;
    position: fixed;
    z-index:-1;
    min-height: 960px;
    vertical-align:top;
    margin-top: -23px;
    visibility: visible;
}
h1.catagorydetail{
    font-size: x-large;
    color:#ffffff;
    position: relative;
    left:20px;
    top: 540px;
}
.catagorydetailTextBox{
    clear: both;
    background-image: url("/app/img/img-category/transpBitGray.png") ;
    height: auto;
    width: 540px;
    padding-top: 15px;
    margin-bottom: 25px;
    position: relative;
    left: 20px;
    top: 560px;
    font-size: large;
}