<div class="categoryBGImage"></div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span11">
            <h1 class ="catagorydetail">Catagory:{{categoryID}}</h1>
        </div>
        <div class = "catagorydetailTextBox">
            <em>1 The proverbs of Solomon the son of David, king of Israel:</em>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in neque dui. Etiam nunc erat, blandit sed tortor non, aliquet vulputate felis. Nunc faucibus quis risus aliquet feugiat. Fusce nec nibh eleifend, dignissim mauris eget, egestas mauris. Mauris pharetra dignissim odio, sit amet venenatis sem congue nec. Pellentesque bibendum pellentesque erat vitae lacinia. Proin blandit, urna nec dictum porttitor, nibh augue tincidunt neque, a auctor purus dolor quis ligula. Nam feugiat hendrerit enim, eu porttitor mi imperdiet vel. Maecenas risus turpis, bibendum non libero eu, vestibulum semper mauris. Quisque felis enim, sagittis id metus id, mattis rhoncus augue. Integer consectetur accumsan velit et rhoncus. Maecenas nec velit viverra, molestie nunc vel, commodo lorem. Suspendisse sed placerat massa, eu varius enim. Sed a elementum orci, at sollicitudin diam. Donec iaculis eget sapien eget congue. Nunc tortor augue, tempus at viverra et, aliquet non enim.</p>
                </p>
        </div>
    </div>
</div>
