<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <!--title content-->
            <div>
                <!--{{votd.categoryID}}-->
                <p align="left"><h1>Adversity</h1></p>
                <div class="line-separator"></div>
            </div>
        </div>

        <div class="span2">
        this space empty
        </div>
        <div class="span10">
            <!-- {{votd}} -->
            <em>33 but whoever listens to me will dwell safely, and will be secure, without fear of evil.</em>
        </div>
    </div>
</div>
